{
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "no-undef": "error",
        "no-var": "error",
        "no-use-before-define": "error",
        "eol-last": "error",
        "no-magic-numbers": "error",
        "prefer-const": "error",
        "no-throw-literal": "error"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2023
    }
}
